<!-- Start Common Questions -->
<div>
    <h4 class="common-questions__title">Common Questions</h4>

    <!-- Start Common Questions Accordions -->
    <div class="common-questions__container">



        <!-- Start First Question -->
        <div class="common-questions__accordion">
            <button class="app-button__accordion-title">
                <span class="app-button__accordion-span">What is Wizardshot?</span>
                <img class="block dark:hidden light-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up.svg" alt="">
                <img class="hidden dark:block dark-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up-white.svg" alt="">
            </button>
            <div class="common-questions__accordion-body" style="display: block">
                <p class="font-normal ext-sm md:text-[16px]  leading-[2.3]"> Wizardshot is a web app & chrome extension . that allows you to create step-by-step tutorials simply by capturing your screen. </p>
            </div>
        </div>
        <!-- End First Question -->

        <!-- Start Second Question -->
        <div class="common-questions__accordion">

            <button class="app-button__accordion-title">
                <span class="app-button__accordion-span">How is Wizardshot Free?</span>
                <img class="block dark:hidden light-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up.svg" alt="">
                <img class="hidden dark:block dark-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up-white.svg" alt="">
            </button>

            <div class="common-questions__accordion-body" style="display: block">
                <p class="font-normal text-sm md:text-[16px] leading-[2.3]">
                    The costs to run a service is really inexpensive as most of the processing happens in the Chrome extension.

                    Really - all that we have to pay for is <u>super-secure hosting</u>, <u>awesome 24/7 support</u> and that’s it.

                    <span class="block font-semibold">We built Wizardshot as a stand-alone product with a deep  <u>Helpjuice Knowledge Base </u>integration.</span>
                </p>
            </div>
        </div>
        <!-- End Second Question -->

        <!-- Start Third Question -->
        <div class="common-questions__accordion">
            <button class="app-button__accordion-title">
                <span class="app-button__accordion-span">Is my data secure?</span>
                <img class="block dark:hidden light-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up.svg" alt="">
                <img class="hidden dark:block dark-icon app-button__icon" style="transform: rotate(180deg)" src="./src/assets/imgs/chevron-up-white.svg" alt="">
            </button>

            <div class="common-questions__accordion-body">
                <p class="font-normal text-sm md:text-[16px] leading-[2.3]">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <!-- End Third Question -->



        <!-- Start Visit help & community section -->
        <div class="common-questions__visit-help">
            <h6 class="common-questions__visit-help-text">Curious to learn more? </h6>
            <button class="app-button__visit-help">
                Visit Help & Community Center
            </button>
        </div>
        <!-- End Visit help & community section -->

    </div>
    <!-- Start Common Questions Accordions -->

</div>
<!-- End Common Questions -->
