<!-- Create Tutorial -->
<div>

    <!-- Start Create Tutorial Colorful Header -->
    <div class="create-tut-header after:content-['']">
        <div class="flex gap-2 items-center">
            <span class="create-tut-header__text-1 after:content-[' ']">Free</span>
            <span class="flex flex-col gap-1">
                <span class="create-tut-header__text-2">Free  </span>
                <span class="create-tut-header__text-3">Forever</span>
            </span>
        </div>
        <div class="flex gap-2 items-center">
            <span class="create-tut-header__text-1 after:content-[' ']">Unlimited</span>
            <span class="flex flex-col gap-1">
                <span class="create-tut-header__text-2">Tutorial  </span>
                <span class="create-tut-header__text-3">Creation</span>
            </span>
        </div>
        <div class="flex gap-2 items-center">
            <span class="create-tut-header__text-1 after:content-[' ']">Powerful</span>
            <span class="flex flex-col gap-1">
                <span class="create-tut-header__text-2">Editors &  </span>
                <span class="create-tut-header__text-3">Integrations</span>
            </span>
        </div>
        <img class="create-tut-header__bg" src="./src/assets/imgs/Arrow-3.svg" alt="">
    </div>
    <!-- End Create Tutorial Colorful Header -->

    <!-- Start Create A Detailed Tutorial Box -->
    <div class="mt-8">
        <div class="create-tut__box">
            <h4 class="create-tut__header">Create A Detailed Tutorial In Less Than 3 Clicks</h4>

            <button class="createTutBtn create-tut__btn">
                <img class="w-[30px]" src="./src/assets/imgs/chrome.svg" alt="">
                <span class="text-xl md:text-2xl">Install Wizardshot</span>
            </button>

            <h6 class="create-tut__text">“Has helped us write help docs 100x faster” </h6>
            <span class="create-tut__span">– Dany River, Cartier Informatie</span>
            <div class="create-tut__rates">
                <img src="./src/assets/imgs/star.svg" alt="">
                <img src="./src/assets/imgs/star.svg" alt="">
                <img src="./src/assets/imgs/star.svg" alt="">
                <img src="./src/assets/imgs/star.svg" alt="">
                <img src="./src/assets/imgs/star.svg" alt="">
            </div>
        </div>
    </div>
    <!-- End Create A Detailed Tutorial Box -->

</div>