<!-- Start Feature -->
<div>
    <!-- Feature Title -->
    <section class="features__title">
        <h2 class="features__title-h2"> Say <span class="features__title-h2-underline">Goodbye</span> <span class="features__title-h2-underline-2">to writing docs</span> , and Hello to wizardshot doing it for <span class="uppercase">you</span>. </h2>
    </section>

    <!-- Feature 3 Cards -->
    <section class="features__container">


        <!-- Start First Card -->
        <div>
            <div class="features__section-1 box boxshadow">
                <img class="block mx-auto" src="./src/assets/imgs/feature-1.1.png" alt="">
                <img class="mx-auto" src="./src/assets/imgs/feature-1.png" alt="">
                <img class="block mx-auto" src="./src/assets/imgs/feature-1.1.png" alt="">
            </div>
            <h4 class="features__section-1-text">1. Click Capture</h4>
            <span class="features__section-1-desc">Once you install the Chrome extension, fire it up, and click “Capture”.</span>
        </div>
        <!-- End First Card -->


        <!-- Start Second Card -->
        <div>
            <div class="features__section-2 box boxshadow">
                <img src="./src/assets/imgs/category-card.png" alt="">
                <span class="features__section-2-line"></span>
                <span class="features__section-2-line-2"></span>
                <span class="features__section-2-line-3" style="width: calc(100% + 60px)">
                    <div class="relative">
                        <span class="features__section-2-circle"> </span>
                    </div>
                </span>
                <span class="features__section-2-line-4" style="width: 70px">
                    <div class="relative">
                        <span class="features__section-2-circle-2"> </span>
                    </div>
                </span>

                <span class="features__section-2-line-5" style="width: 70px">
                    <div class="relative">
                        <span class="features__section-2-circle-3"> </span>
                    </div>
                </span>

            </div>
            <h4 class="features__section-2-text">2. Perform Your Actions</h4>
            <span class="features__section-2-desc">Once capturing, Wizardshot carefully monitors what you do to understand how to document it.</span>
        </div>
        <!-- End Second Card -->


        <!-- Start Third Card -->
        <div>
            <div class="features__section-3 box boxshadow">
                <img class="block mx-auto" src="./src/assets/imgs/category-card-2.png" alt="">
            </div>
            <h4 class="features__section-3-text">3. Done. Article Written</h4>
            <span class="features__section-2-desc">Wizardshot carefully crafts the perfect article based off your actions recorded. Just click “Done” and we’ll write up the article in a second.</span>
        </div>
        <!-- End Third Card -->

    </section>

    <!-- More Features Section -->
    <div class="more-features">
        <h6 class="more-features__h6">+32 more features</h6>
        <span class="more-features__desc">including a kb integration</span>
        <img class="more-features__img" src="./src/assets/imgs/btn.png" alt="">
    </div>
</div>
<!-- End Feature -->