<!-- Start Header -->
<div>
    <!-- Start Create Tutorial in 3 clicks section -->
    <div class="create-tut">
        <div class="free-forever__container">
            <span> 🤑 </span>
            <h6 class="free-forever__text">100% free, forever</h6>
        </div>

        <div class="create-tut__inner">
            <div>
                <h4 class="create-tut__title">Create Tutorials in 3 clicks.</h4>
                <p class="create-tut__desc">
                    With WizardShot, You Click Capture, And We’ll Capture What’s Happening on Your Screen And Turn It Into A Tutorial.
                </p>
            </div>
            <div class="create-tut__try-wizard">
                <button class="app-btn__try-wizard">
                    <span class="app-btn__try-wizard-title">Try Wizardshot</span>
                    <img class="w-[15px]" src="./src/assets/imgs/Icon.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    <!-- End Create Tutorial in 3 clicks section -->

    <!-- Start Footer section -->
    <div class="app-footer">
        <div>
            <img src="./src/assets/imgs/Logo-2.png" alt="">
            <h6 class="app-footer__desc">Turn complex process into a simple step-by step Guide</h6>

            <div>
                <div class="app-footer__exper">
                    <div class="app-footer__years">
                        <h6 class="app-footer__years-h6">12</h6>
                        <span class="app-footer__years-span">years</span>
                    </div>
                    <div class="flex-1 ">
                        <h6 class="app-footer__years-2-h6">built by</h6>
                        <img class="block mx-auto" src="./src/assets/imgs/icom-circle.svg" alt="">
                        <h6 class="app-footer__company">helpjuice</h6>
                    </div>
                </div>
                <h6 class="app-footer__slogn">#1 Rated knowledge base software</h6>
            </div>
        </div>
        <div>
            <h6 class="font-bold mb-3 dark:text-white">Learn More</h6>
            <ul class="leading-[1.9] font-semibold">
                <li>Wizardshot</li>
                <li>Community Page</li>
                <li>Help Center</li>
                <li>Security Information</li>
            </ul>
        </div>
        <div>
            <h6 class="font-bold mb-3 dark:text-white">Company</h6>
            <ul class="leading-[1.9] font-semibold">
                <li>About Us</li>
                <li>Status Page</li>
            </ul>
        </div>
        <div>
            <div class="mb-2 hidden md:block">
                <h6 class="text-right">📞 +1 (833) 387 3877</h6>
            </div>
            <div class="hidden md:block">
                <h6 class="text-right">✉️ success@wizardshot.com</h6>
            </div>
            <div class="app-footer__ticktok-insta">
                <button>
                    <img class="block dark:hidden" src="./src/assets/imgs/ticktok.svg" alt="">
                    <img class="w-[25px] hidden dark:block" src="./src/assets/imgs/ticktok-white.svg" alt="">
                </button>
                <button>
                    <img class="block dark:hidden" src="./src/assets/imgs/insta.svg" alt="">
                    <img class="w-[25px] hidden dark:block" src="./src/assets/imgs/insta-white.svg" alt="">
                </button>
            </div>
            <div class="app-footer__signup-login">
                <button class="">Sign up</button>
                <button>Log in</button>
            </div>
        </div>
    </div>
    <!-- End Footer section -->

    <div class="app-footer__phone">
        <div class="mb-2">
            <h6 class="text-center ">📞 +1 (833) 387 3877</h6>
        </div>
        <div class="">
            <h6 class="text-center">✉️ success@wizardshot.com</h6>
        </div>
    </div>

    <!-- Start all right reserved section -->
    <div>
        <h6 class="text-center pb-3 dark:text-white">&copy; 2024 Wizardshot – All rights reserved.</h6>
    </div>
    <!-- End all right reserved section -->

</div>
<!-- End Header -->