<!-- Start Header -->
<div class="app-header">
    <!-- Header -->
    <section class="app-header__container">
        <h1 class="app-header__heading"> Your Magic Wand for Instant Documentation</h1>
        <span class="app-header__span">turn any process into a simple step-by step guide</span>
        <button class="app-button__install-wizard-arrow">
            <span class="text-sm font-semibold">Install Wizardshot</span>
            <img src="./src/assets/imgs/Icon.svg" alt="">
        </button>
    </section>

    <!-- Video -->
    <section class="app-header__video-container">
        <span class="app-header__guide">
            <div class="relative">
                <img src="./src/assets/imgs/arrow-2.svg" alt="">
                <span class="app-header__guide-text">It only takes 3 clicks to publish your first tutorial</span>
            </div>
        </span>
        <img class="app-header__video-img" src="./src/assets/imgs/video-img.png" alt="">
    </section>
</div>
<!-- End Header -->